@page "/"
@using Services;
@inject IServicioService ServicioService;
@inject ContratoService ContratoService;
@inject ClienteService ClienteService;
@inject PendientesService PendienteService;

<PageTitle>Home</PageTitle>

<h1>Bienvenido!</h1>

<div class="box-section">
    <a href="/servicios">
        <div class="box" style="background-color:rgba(29, 42, 208, 0.8)">
            <span>
                Servicios disponibles
            </span>
            <span class="number">
                @CantServicios
            </span>
        </div>
    </a>
    <a href="/clientes">
        <div class="box" style="background-color:rgba(190, 53, 10, 0.8)">
            <span>
                Clientes Activos
            </span>
            <span class="number">
                @CantClientes
            </span>
        </div>
    </a>
    <a href="/contratos">
        <div class="box" style="background-color:rgba(8, 165, 52, 0.8)">
            <span>
                Contrataciones de servicio
            </span>
            <span class="number">
                @CantContratos
            </span>
        </div>
    </a>
    <a href="/pendientes">
        <div class="box" style="background-color:rgba(208, 149, 0, 0.8)">
            <span>
                Tareas Pendientes
            </span>
            <span class="number">
                @CantTareasPendientes
            </span>
        </div>
    </a>
</div>

@code {

    private int CantServicios;
    private int CantClientes;
    private int CantContratos;
    private int CantTareasPendientes;

    protected override async Task OnInitializedAsync()
    {
        CantClientes = ClienteService.GetCliente().Count();
        CantServicios = ServicioService.GetServicios().Count();
        CantContratos = ContratoService.GetContrato().Count();
        CantTareasPendientes = PendienteService.GetAll().Count();
    }
}